body
{
   background-color: #fffdf9;
   font-family: Arial, Helvetica, sans-serif;
    
}
.memes
{   
    margin: 2rem;
    height:200px;
    width:300px;

    display: inline-flex;
    position: relative;
    justify-content: center;
}
img 
{   
    height: 200px;
    width: 300px;
}
.topText, .bottomText   
{
    position: absolute;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 2.5rem;
    color: purple;
    text-align: center;
}
.topText
{
    top:10px;
    
}
.bottomText
{
    bottom:10px;
}
.removeButton
{
    display:none;
    /* to be changed to 'block' when mouse hovers over the meme */
    position:absolute;
    margin:0;
    left:0;
    height:200px;
    width:300px;
    background-color: grey;
    opacity:50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: aliceblue;
    border:none;
}

h1 
{   
    color: #9d8189;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}

form div
{
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 1rem;
    color: #9d8189;
    font-size: 1.2rem;

}
#url, #topTextInput, #bottomTextInput
{
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border-color: #d8e2dc;
    border-style: solid;

}

#submitButton
{
    margin-left:2%;
    margin-top:1%;
    height:50px;
    width:200px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px #bac2bd;
    background-color: #d8e2dc;
    font-size: 1rem;
    color:rgb(98, 78, 85) ;

}
#submitButton:hover
{
    background-color: #cadbcf;;
}

#displayArea 
{
    margin:2%;
    background-color:  #fde4e3;
    width:100%;
    height:2000px;

}